.footerWeather{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0000004f;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
    gap: 0.5em;

    &__contact{
        img{
            width: 40px;
            margin-right: 10px;
        }
    }

    &__text{
        font-size: 13px;
        color: #fff;
        font-style: italic;
    }

}